<!-- Footer -->
<footer class="main-footer">
    <button class="btn btn-icon">
        <img src="./ico-arrow.svg" alt="Icon for scroll up">
    </button> 

    <nav class="footer-menus">

        <ul class="main-list">
            <li>
                <a href="#" title="Articles">Articles</a>
            </li>

            <li>
                <a href="#" title="Books">Books</a>
            </li>
            
            <li>
                <a href="#" title="Events">Events</a>
            </li>

            <li>
                <a href="#" title="Reasons">Reasons</a>
            </li>

            <li>
                <a href="#" title="Tips">Tips</a>
            </li>
        </ul>

        <ul class="social-media-list">
            <li>
                <a href="#" title="@Proxy Twitter">Twitter</a>
            </li>

            <li>
                <a href="#" title="@Proxy Instagram">Instagram</a>
            </li>
            
            <li>
                <a href="#" title="@Proxy Mastodon.Social">Mastodon.Social</a>
            </li>
        </ul>
    </nav>

    <small class="copyright">©2017</small>

    <small class="claim">we ❤︎ components</small>

</footer>