<!-- Footer -->
<footer class="main-footer wrapper">
    <button class="btn btn-icon btn-shadow btn-rel">
        <img src="./ico-arrow.svg" alt="Icon for scroll up">
    </button> 

    <div class="flex-container">
        <nav class="nav-social-media item-1">
            <ul class="font-family txt-reg txt-md1-nav txt-center txt-neutral-0 txt-upper">
                <li>
                    <a href="#" title="Articles">Articles</a>
                </li>

                <li>
                    <a href="#" title="Books">Books</a>
                </li>
                
                <li>
                    <a href="#" title="Events">Events</a>
                </li>

                <li>
                    <a href="#" title="Reasons">Reasons</a>
                </li>

                <li>
                    <a href="#" title="Tips">Tips</a>
                </li>
            </ul>
        </nav>

        <nav class="nav-social-media item-2">
            <ul class="font-family txt-reg txt-md1-nav txt-center txt-neutral-0 txt-upper">
                <li>
                    <a href="#" title="@Proxy Twitter">Twitter</a>
                </li>

                <li>
                    <a href="#" title="@Proxy Instagram">Instagram</a>
                </li>
                
                <li>
                    <a href="#" title="@Proxy Mastodon.Social">Mastodon.Social</a>
                </li>
            </ul>
        </nav>

        <div class="item-3">
            <small class="footer-copyright font-family txt-reg txt-sm2 txt-center txt-neutral-0 title-box-cent">©2017</small>

            <small class="footer-claim font-family txt-reg txt-sm2 txt-center txt-neutral-0 title-box-cent txt-low">we <span class="txt-secondary-600">❤︎</span>
            components</small>
        </div>
    </div>

</footer>