<!-- Header -->
<header class="main-header">
    <button class="button-menu">
        <img src="./ico-menu.svg" alt="Menu icon">
    </button> 

    <div class="wrapper">
        <h1 class="main-title .txt-bold txt-xl txt-center txt-neutral-0 txt-upper">Anonymous Proxy </h1>

        <p class="main-subtitle txt-reg txt-md1-p txt-center txt-neutral-0">In hac habitasse platea dictumst.</p>
    
        <a class="icon-scroll-down" href="#">
            <img src="./ico-scroll-down.svg" alt="Icon for scroll down">
        </a>
<!-- 
        <button class="icon-scroll-down">
            <img src="./ico-scroll-down.svg" alt="Icon for scroll down">
        </button>  -->
    </div>


</header>