<!-- Main - section-3 -->
<section class="special-offert txt-neutral-0 txt-center">
    <h2 class="title-offert txt-sec txt-bold txt-lg2  txt-capit title-box-cent">Special offert</h2>

    <div class="flex-container-title">
        <h3 class="subtitle-offert">20% discount</h3>
        <p class="paragrah-offert">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, natus quod! Voluptas veniam dignissimos aliquam aut similique nesciunt est quos? Sunt in totam repudiandae ad adipisci illo deleniti. Aliquid, id.</p>
    </div>
</section>