<!-- Main - section-1 -->
<section class="section-1 wrapper">
    <article>
        <small class="txt-1 txt-reg txt-sm1 txt-left txt-primary-400 txt-capit">Insomnia Tips</small>
        <h2 class="">Looking Through A Window</h2>
        <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <a href="#" title="Go">Go</a>
        
        <!-- <button>
            <a href="#" title="Go">Go</a>
        </button> -->
    </article>
</section>