<!-- Main - section-1 -->
<section class="section-1 wrapper" id="anchoring-s1">
    <small class="txt-prim txt-reg txt-sm1 txt-left txt-primary-400 txt-capit title-box-cent">Insomnia tips</small>
  
    <h2 class="txt-sec txt-bold txt-lg2 .txt-neutral-1000 .txt-capit">Looking through a window</h2>

    <p class="txt-prim .txt-reg txt-md-p txt-left txt-neutral-800">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>

    <a href="#" title="Link to Ipsum page" class="btn btn-txt btn-light">
        <span class="btn-content txt-prim txt-med txt-lg1 txt-secondary-600">Go</span>
    </a>
</section>