<!-- Main - section-2 -->
<section class="section-2 wrapper">
    <h2 class="txt-sec txt-bold txt-lg2 txt-center txt-neutral-1000 txt-capit title-box-cent">3 Reasons To Purchase</h2>
    <div class="grid-container">

        <article class="grid-item">
            <h3 class="txt-sec txt-bold txt-md-h txt-center txt-neutral-1000">Ut sed metus</h3>
            <p class="txt-prim txt-reg txt-md-p txt-center $color-neutral-1000">Lorem ipsum dolor sit amet, consecteur.</p>
        </article>

        <article class="grid-item">
            <h3 class="txt-sec txt-bold txt-md-h txt-center txt-neutral-1000">Curabitur ac erat</h3>
            <p class="txt-prim txt-reg txt-md-p txt-center $color-neutral-1000">Mauris mattis urna quis lorem molestie.</p>
        </article>

        <article class="grid-item">
            <h3 class="txt-sec txt-bold txt-md-h txt-center txt-neutral-1000">Morbi dictum</h3>
            <p class="txt-prim txt-reg txt-md-p txt-center $color-neutral-1000">Aliquam in dolor et dolor tincidunt.</p>
        </article>

        <a href="#" title="Link to more reasons page" class="btn btn-txt btn-light">Go</a>
    </div>
</section>