<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymus Proxy</title>

    <link rel="icon" href="favicon.png" />
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:400,500"> -->
    
    <link rel="stylesheet" href="assets/css/main.css">
  </head>

  <body>
    <div class="page-container">

      <partial src="_header.html"></partial>

      <main class="main-container">
        <partial src="_section-1.html"></partial>
        <partial src="_section-2.html"></partial>
        <partial src="_section-3.html"></partial>
      </main>

      <partial src="_footer.html"></partial>

    </div>
  </body>

</html>
