.txt-prim {
  font-family: "Roboto", sans-serif;
}

.txt-sec {
  font-family: "Roboto Slab", serif;
}

.txt-reg {
  font-weight: 400;
}

.txt-med {
  font-weight: 500;
}

.txt-bold {
  font-weight: 700;
}

.txt-sm1 {
  font-size: 14px;
}

.txt-sm2 {
  font-size: 14px;
}

.txt-md1-p {
  font-size: 16px;
}

.txt-md1-nav {
  font-size: 16px;
}

.txt-md-p {
  font-size: 18px;
  line-height: 30px;
}

.txt-md-h {
  font-size: 18px;
  line-height: 30px;
}

.txt-lg1 {
  font-size: 20px;
}

.txt-lg2 {
  font-size: 24px;
  line-height: 30px;
}

.txt-xl {
  font-size: 42px;
  line-height: 55px;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-primary-400 {
  color: #8ccbea;
}

.txt-secondary-600 {
  color: #f26002;
}

.txt-neutral-0 {
  color: #ffffff;
}

.txt-neutral-800 {
  color: #4a4a4a;
}

.txt-neutral-1000 {
  color: #000000;
}

.txt-upper {
  text-transform: uppercase;
}

.txt-capit {
  text-transform: capitalize;
}

.txt-low {
  text-transform: lowercase;
}

.button-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #0271bc;
  width: 44px;
  height: 44px;
}

.btn {
  height: 45px;
}

.btn-icon {
  width: 45px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-shadow {
 /* offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.5);
}

.btn-txt {
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-light {
  width: 76px;
  background-color: #ffffff;
  border: 2px solid #f26002;
}

.btn-light:hover {
  background-color: #f26002;
}

.btn-light:hover .txt-lg1 {
  color: #ffffff;
}

.btn-inv {
  width: 184px;
  margin: 0 auto;
  background-color: #f26002;
  border: 2px solid #f26002;
}

.btn-inv:hover {
  background-color: #ffffff;
}

.btn-inv:hover .txt-lg1 {
  color: #f26002;
}

.btn-light,.btn-light .txt-lg1 {
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}

.btn-inv,.btn-inv .txt-lg1 {
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}

*,*::after,*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,ol {
  list-style: none;
}

button {
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #ffffff;
}

.main-header {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.2))), url("../images/cover.jpg") center center no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2)), url("../images/cover.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 45px;
}

.main-header .main-title {
  font-family: "Roboto Slab", serif;
}

.main-header .main-subtitle {
  font-family: "Roboto", sans-serif;
  margin: 10px auto 45px;
}

.section-1 {
  padding-top: 30px;
  padding-bottom: 45px;
}

.section-1 a {
  margin-left: 0px;
}

.section-1 .title-box-cent {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1px;
}

.section-1 .txt-lg2 {
  margin-bottom: 15px;
}

.section-1 .txt-md-p {
  margin-bottom: 15px;
}

.section-2 {
  background-color: #eff9ff;
  padding-top: 30px;
  padding-bottom: 60px;
}

.section-2 .grid-container {
  width: 190px;
  margin: 45px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 45px;
}

.main-footer {
  background-color: #304268;
  padding-top: 60px;
  padding-bottom: 45px;
  position: relative;
}

.main-footer .flex-container .item-2 {
  margin: 30px auto;
}

.main-footer .btn-rel {
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translate(-50%, 0.5%);
  transform: translate(-50%, 0.5%);
}

.main-footer .footer-copyright,.main-footer .footer-claim {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-footer .footer-copyright .heart,.main-footer .footer-claim .heart {
  display: block;
  padding: 0 4px;
}

.main-footer .nav-pages li,.main-footer .nav-social-media li {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper {
  padding-right: 15px;
  padding-left: 15px;
}

@media all and (min-width: 768px) {
  .txt-md1-p {
    font-size: 24px;
  }

  .txt-md-h {
    font-size: 24px;
    line-height: 30px;
  }

  .txt-lg2 {
    font-size: 26px;
    line-height: 45px;
  }

  .txt-xl {
    font-size: 80px;
    line-height: 106px;
  }

  .btn-light {
    width: 91px;
  }

  .btn-inv {
    width: 210px;
  }

  .main-header .main-subtitle {
    margin: 20px auto 30px;
  }

  .section-1 {
    padding-bottom: 60px;
  }

  .section-1 .txt-lg2 {
    margin-bottom: 30px;
  }

  .section-1 .txt-md-p {
    margin-bottom: 30px;
  }

  .section-2 {
    padding-top: 60px;
    padding-left: 81.2px;
    padding-right: 81.2px;
  }

  .section-2 .grid-container {
    width: 100%;
    margin-bottom: 60px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 27.7px;
  }

  .section-2 .grid-container .txt-md-h {
    margin-bottom: 14px;
  }

  .main-footer .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .main-footer .flex-container .item-3 {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .main-footer .flex-container .item-1,.main-footer .flex-container .item-2,.main-footer .flex-container .item-3 {
    width: 210px;
  }

  .main-footer .flex-container .item-1 {
    margin: 0 30px;
  }

  .main-footer .flex-container .item-2 {
    margin: 0 auto;
  }

  .main-footer .item-2 {
    margin-top: 0;
  }

  .main-footer .item-3 .txt-sm2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .main-footer .nav-pages li,.main-footer .nav-social-media li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .wrapper {
    padding-right: 39px;
    padding-left: 39px;
  }
}

@media all and (min-width: 1280px) {
  .txt-sm1 {
    font-size: 16px;
  }

  .txt-lg2 {
    font-size: 32px;
    line-height: 45px;
  }

  .txt-xl {
    font-size: 100px;
    line-height: 132px;
  }

  .btn-light {
    width: 160px;
  }

  .btn-inv {
    width: 255px;
  }

  .main-header {
    padding-bottom: 22.5px;
  }

  .main-header .main-subtitle {
    margin: 10px auto 30px;
  }

  .section-1 {
    padding-top: 60px;
  }

  .main-footer .flex-container {
    padding-left: 95px;
    padding-right: 95px;
  }

  .wrapper {
    padding-right: 275px;
    padding-left: 275px;
  }
}

/*# sourceMappingURL=main.css.map */
