.txt-prim {
  font-family: "Roboto", sans-serif;
}

.txt-sec {
  font-family: "Roboto Slab", serif;
}

.txt-reg {
  font-weight: 400;
}

.txt-med {
  font-weight: 500;
}

.txt-bold {
  font-weight: 700;
}

.txt-sm1 {
  font-size: 14px;
}

.txt-sm2 {
  font-size: 14px;
}

.txt-md1-p {
  font-size: 16px;
}

.txt-md1-nav {
  font-size: 16px;
}

.txt-md-p {
  font-size: 18px;
  line-height: 30px;
}

.txt-md-h {
  font-size: 18px;
  line-height: 30px;
}

.txt-lg1 {
  font-size: 20px;
}

.txt-lg2 {
  font-size: 24px;
  line-height: 30px;
}

.txt-xl {
  font-size: 42px;
  line-height: 55px;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-primary-400 {
  color: #8ccbea;
}

.txt-secondary-600 {
  color: #f26002;
}

.txt-neutral-0 {
  color: #ffffff;
}

.txt-neutral-800 {
  color: #4a4a4a;
}

.txt-neutral-1000 {
  color: #000000;
}

.txt-upper {
  text-transform: uppercase;
}

.txt-capit {
  text-transform: capitalize;
}

.button-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #0271bc;
  width: 44px;
  height: 44px;
}

.btn {
  margin: 0 auto;
  height: 45px;
}

.btn-icon {
  width: 45px;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-txt {
  width: 76px;
  background-color: #ffffff;
  border-radius: 25px;
  border: 2px solid #f26002;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

*,*::after,*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,ol {
  list-style: none;
}

button {
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
}

.main-header {
  min-height: 100vh;
  width: 100vw;
  background: url("../images/cover.jpg") center center no-repeat;
  padding-top: 284px;
}

.main-title {
  font-family: "Roboto Slab", serif;
}

.main-subtitle {
  font-family: "Roboto", sans-serif;
  margin: 10px auto 45px;
}

.section-1 {
  padding-top: 30px;
  padding-bottom: 45px;
}

.section-1 .title-box-cent {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-2 {
  background-color: pink;
}

.main-footer {
  background-color: green;
}

@media all and (min-width: 768px) {
  .txt-md1-p {
    font-size: 24px;
  }

  .txt-md-p {
    font-size: 20px;
    line-height: 30px;
  }

  .txt-md-h {
    font-size: 24px;
    line-height: 30px;
  }

  .txt-lg2 {
    font-size: 26px;
    line-height: 45px;
  }

  .txt-xl {
    font-size: 80px;
    line-height: 106px;
  }
}

@media all and (min-width: 1280px) {
  .txt-sm1 {
    font-size: 16px;
  }

  .txt-lg2 {
    font-size: 32px;
    line-height: 45px;
  }

  .txt-xl {
    font-size: 100px;
    line-height: 132px;
  }
}

/*# sourceMappingURL=main.css.map */
