// Styles for buttons:

// Style for Home button:
.button-menu{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: $color-primary-600;
    width: 44px;
    height: 44px;
}

// General rules for all icon and text buttons:
.btn{
    height: $button-height;
}

// Common rules of icon buttons (arrows):
.btn-icon{
    width: $button-height;
    margin: 0 auto;
    background-color: $color-neutral-0;
    border-radius: 50%;
    @include flex-centered;
}

// Shadow style from one button:
.btn-shadow{
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.5);
}

// Common rules of text buttons (with text content):
.btn-txt{
    border-radius: 25px;
    @include flex-centered;
}

.btn-light{
    width: 76px;
    background-color: $color-neutral-0;
    border: 2px solid $color-secondary-600;

    @media all and (min-width: 768px) {
        width: 91px;
    }

    @media all and (min-width: 1280px) {
        width: 160px;
    }

    // Add hover behaviour for buttons:
    &:hover{
        background-color: $color-secondary-600;
        & .txt-lg1{
            color: $color-neutral-0;
        }
    }
}

.btn-inv{
    width: 184px;
    margin: 0 auto;
    background-color: $color-secondary-600;
    border: 2px solid $color-secondary-600;

    @media all and (min-width: 768px) {
        width: 210px;
    }

    @media all and (min-width: 1280px) {
        width: 255px;
    }

    // Add hover behaviour for buttons:
    &:hover{
        background-color: $color-neutral-0;

        & .txt-lg1{
            color: $color-secondary-600;
        }
    }
}

// Add transition to text-buttons (change both the shape and its content):
.btn-light, .btn-light .txt-lg1{
    transition: background-color ease 0.7s;
    transition: color ease 0.7s;
}

.btn-inv, .btn-inv .txt-lg1{
    transition: background-color ease 0.7s;
    transition: color ease 0.7s;
}
