// Styles for buttons:
.button-menu{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: $color-primary-600;
    width: 44px;
    height: 44px;
}


// Styles for txt-buttons:
// General rules for text-buttons
.btn{
    height: $button-height;
}

.btn-icon{
    width: $button-height;
    margin: 0 auto;
    background-color: $color-neutral-0;
    border-radius: 50%;
    @include flex-centered;
}

// One button has shadow on it
.btn-shadow{
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.5);
}

.btn-txt{
    border-radius: 25px;
    @include flex-centered;

}


.btn-light{
    width: 76px;
    background-color: $color-neutral-0;
    border: 2px solid $color-secondary-600;

    @media all and (min-width: 768px) {
        width: 91px;
    }

    @media all and (min-width: 1280px) {
        width: 160px;
    }
}

.btn-inv{
    width: 184px;
    margin: 0 auto;
    background-color: $color-secondary-600;

    @media all and (min-width: 768px) {
        width: 210px;
    }

    @media all and (min-width: 1280px) {
        width: 255px;
    }
}


