// Styles for buttons:

// Style for Home button:
.button-menu{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: $color-primary-600;
    width: $button-height - 1px;
    height: $button-height - 1px;
}

// General rules for all icon and text buttons:
.btn{
    height: $button-height;
}

// Common rules of icon buttons (arrows):
.btn-icon{
    width: $button-height;
    margin: 0 auto;
    background-color: $color-neutral-0;
    border-radius: 50%;
    @include flex-centered;
}

// Shadow style from one button:
.btn-shadow{
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.5);
}

// Common rules of text buttons (with text content):
.btn-txt{
    // This is for make the width of the button flexible to all diferent text-contents
    display: inline-block;
    vertical-align: middle;
    padding-left: 25px;
    padding-right: 25px;

    border: $button-border solid $color-secondary-600;
    border-radius: 25px;

    @media all and (min-width: 768px) {
        padding-left: 33.5px;
        padding-right: 33.5px;
    }

    @media all and (min-width: 1280px) {
        padding-left: 68px;
        padding-right: 68px;
    }

    span {
        display: inline-block;
        line-height: $button-height - $button-border;
        vertical-align: middle;
    }
}


.btn-light{
    background-color: $color-neutral-0;
    border: 2px solid $color-secondary-600;

    // Add hover behaviour for buttons:
    &:hover{
        background-color: $color-secondary-600;
        & .txt-lg1{
            color: $color-neutral-0;
        }
    }
}

.btn-inv{
    background-color: $color-secondary-600;
    border: 2px solid $color-secondary-600;

    // Add hover behaviour for buttons:
    &:hover{
        background-color: $color-neutral-0;

        & .txt-lg1{
            color: $color-secondary-600;
        }
    }
}

// Add transition to text-buttons (change both the shape and its content):
.btn-light, .btn-light .txt-lg1{
    transition: background-color ease 0.7s;
    transition: color ease 0.7s;
}

.btn-inv, .btn-inv .txt-lg1{
    transition: background-color ease 0.7s;
    transition: color ease 0.7s;
}
