//Classes by font-family:
.txt-prim{
    font-family: $font-primary;
}

.txt-sec{
    font-family: $font-secundary;
}

// Classes for text weights:
.txt-reg{
    font-weight: 400;
}

.txt-med{
    font-weight: 500;
}

.txt-bold{
    font-weight: 700;
}

// Classes for text sizing:
// For small on s1
.txt-sm1{
    font-size: 14px;
    @media all and (min-width: 1280px) {
        font-size: 16px;
    }
}

// For small on footer
.txt-sm2{
    font-size: 14px;
}

// For paragraph in the header:
.txt-md1-p{
    font-size: 16px;
    @media all and (min-width: 768px) {
        font-size: 24px;
    }
}

// For navs in footer:
.txt-md1-nav{
    font-size: 16px;
}

// For paragraphs (in s1 and s2)
.txt-md-p{
    font-size: 18px;
    line-height: 30px;
}

// For titles (in s2)
.txt-md-h{
    font-size: 18px;
    line-height: 30px;

    @media all and (min-width: 768px) {
        font-size: 24px;
        line-height: 30px;
    }
}

// For buttons
.txt-lg1{
    font-size: 20px;
}

// For h2
.txt-lg2{
    font-size: 24px;
    line-height: 30px;

    @media all and (min-width: 768px) {
        font-size: 26px;
        line-height: 45px;
    }
    
    @media all and (min-width: 1280px) {
        font-size: 32px;
        line-height: 45px;
    }
}

// For h1
.txt-xl{
    font-size: 42px;
    line-height: 55px;
    
    @media all and (min-width: 768px) {
        font-size: 80px;
        line-height: 106px;
    }
    
    @media all and (min-width: 1280px) {
        font-size: 100px;
        line-height: 132px;
    }
}

// Classes for text alignment:
.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}

.txt-right{
    text-align: right;
}

// Classes for colouring the text:

// A. Text with primary/secondary bright colors:

// Text blue:
.txt-primary-400{
    color: $color-primary-400;
}

// Text orange:
.txt-secondary-600{
    color: $color-secondary-600;
}

// B. Text with neutral colors (greyscale):

// Text white:
.txt-neutral-0{
    color: $color-neutral-0;
}

// Text grey:
.txt-neutral-800{
    color: $color-neutral-800;
}

// Text black:
.txt-neutral-1000{
    color: $color-neutral-1000;
}

// Classes for text-transform qualities:
.txt-upper{
    text-transform: uppercase;
}

.txt-capit{
    text-transform: capitalize;
}

.txt-low{
    text-transform: lowercase;
}

// This is a variable of the default size of our website, that is called in the function @function rem($pixels)
$defaultFontSize: 14;
