// Common general rules and resets:
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Reset default styles of lists:
ul, ol{
    list-style: none;
}

// Reset default styles of buttons:
button{
    border: 0;
    padding: 0;
}

// Reset defualt styles for links:
a{
    text-decoration: none;
    color: inherit;
}

// General settings:
body{
    background-color: $color-neutral-0;
}