.main-footer{
    background-color: $color-primary-800;

    padding-top: 60px;
    padding-bottom: 45px;

    position: relative;

    .flex-container{
        @media all and (min-width: 768px) {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        @media all and (min-width: 1280px) {
            padding-left: 95px;
            padding-right: 95px;
        }

        .item-3{
            @media all and (min-width: 768px) {
                order: -1;
            }
        }

        .item-1, .item-2, .item-3{
            @media all and (min-width: 768px) {
                width: 210px;
            }
        }

        .item-1{
            @media all and (min-width: 768px) {
                margin: 0 30px;
            }
        }

        .item-2{
            margin: 30px auto;

            @media all and (min-width: 768px) {
                margin: 0 auto;
            }
        }
    }

    .btn-rel{
        @include center-button;
        top: 0px;
    }

    // mejor clase de child etc pero no funciona
    // .flex-container{
    //     &:nth-child(2){
    .item-2{
        @media all and (min-width: 768px) {
            margin-top: 0;
        }
    }


    // mejor clase de childs
    .footer-copyright, .footer-claim{
        // display: block;
        @include title-box-cent;
        justify-content: center;

        // Add margin to give some air around the heart on the claim. I need to convert the span display in block first!
        .heart{
            display: block;
            padding: 0 4px;
        }
    }

    .item-3{
        .txt-sm2{
            @media all and (min-width: 768px) {
                display: flex;
                justify-content: flex-start;
            }
        }
    }

    .nav-pages, .nav-social-media{
        li {
            height: $title-box-height;
            @include flex-centered;

            @media all and (min-width: 768px) {
                display: flex;
                justify-content: flex-start;
            }
        }
    }
}


// @keyframes scroll-up{
//     from{
//         transform: translate(0 0);
//         // transform: scale(1);
//     }

//     to{
//         transform: translate(0 30px);
//         // transform: scale(2);
//     }
// }



@keyframes scroll-up {
    0% {
        transform: translate(-50%, -50%);
        // top:0px;
    } 

    50% {
        transform: translate(-50%, -80%);
        // top:50px;
    }

    100% {
        transform: translate(-50%, -50%);
        // top:50px;
    }
}

// Add animation on button:
.btn-rel{
    animation-name: scroll-up;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;  
    // animation-timing-function: ease-in-out;     
    animation-delay: 1s; 
    animation-iteration-count: infinite;
}