.main-header{
    min-height: 100vh;
  
    // Multiple backgrounds: a gradient and a hero image
    background: 
    linear-gradient(rgba(white, 0.1), black),
    url("../images/cover.jpg") center center no-repeat;
    background-size: cover;

    // Perform to achieve a more fluid layout and perform well in portrait mobile :
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-bottom: $button-height;
    
    .main-title{
        font-family: $font-secundary;
    }
    
    .main-subtitle{
        font-family: $font-primary;
        margin: 10px auto 45px;
    }
}


