.section-1{
    padding-top: 30px;
    padding-bottom: 45px;

    @media all and (min-width: 768px) {
        padding-bottom: 60px;
    }

    @media all and (min-width: 1280px) {
        padding-top: 60px;
    }

    .title-box-cent{
        @include title-box-cent;
        margin-bottom: 1px;
    }

    // Title section:
    .txt-lg2{
        margin-bottom: 15px;

        @media all and (min-width: 768px) {
            margin-bottom: 30px;
        }
    }

    // Paragraphof section:
    .txt-md-p{
        margin-bottom: 15px;

        @media all and (min-width: 768px) {
            margin-bottom: 30px;
        }
    }
}

