// Color variables:

// I use weight fonts numbers (light>regular>bold)  as metaphor of colours (light>dark)
$color-primary-400: #8ccbea;
$color-primary-600: #0271bc;
$color-primary-800: #304268;

$color-secondary-600: #f26002;

$color-neutral-0: #ffffff;
$color-neutral-800:#4a4a4a;
$color-neutral-1000: #000000;